button{
font-size: 30px;
margin-right: 5%;
margin-left: -100%;
font-family: monospace;
}

span {
    display: flex;
    font-size: 50px;
    font-family: monospace;
    justify-content: space-around;
    margin-right: 45%;
    margin-left: 40%;
    margin-top: 15%;

}

.bleu {
    background: #1E90FF;
}

.orange {
    background: #F4A460	;
}

.rouge {
    background:#ff4500;
}

